<header>
    <div class="logo">
        <img src="/assets/images/logo.png" alt="ASECEI Logo">
        <div class="logo-text">
            Asociación Ecuatoriana<br>
            de Instituciones de Enseñanza<br>
            de Ingeniería
        </div>
    </div>
    <nav>
        <a href="/index.html">Inicio</a>
        <div class="dropdown">
            <a href="#">ASECEI</a>
            <div class="dropdown-content">
                <a href="/components/asecei/vinculacion.html">Vinculacion</a>
                <a href="/components/asecei/historia.html">Quienes somos</a>
                <a href="#">Acuerdo Ministerial</a>
                <a href="/components/asecei/miembros-asecei.html">Miembros ASECEI</a>
                <a href="#">Estatutos y reglamentos</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#">Consejo Directivo</a>
            <div class="dropdown-content">
                <a href="#">Directiva 2024</a>
                <a href="#">Actas</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#">ASIBEI</a>
            <div class="dropdown-content">
                <a href="#">Documentos</a>
                <a href="#">Comunicados</a>
            </div>
        </div>
        <div class="dropdown">
            <a href="#">Eventos</a>
            <div class="dropdown-content">
                <a href="#">Eventos nacionales</a>
                <a href="#">Eventos internacionales</a>
            </div>
        </div>
        <a href="#">Ejes Estratégicos</a>
    </nav>
</header>