<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miembros - ASECEI</title>
    <link rel="stylesheet" href="../../assets/css/styles.css">
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            fetch("../../components/header.html")
                .then(response => response.text())
                .then(data => {
                    document.querySelector("header").innerHTML = data;
                });
        });
    </script>
</head>
<body>
    <!-- Header -->
    <header></header>
    <section class="miembros-header">
        <div class="miembros-header-content">
            <h1>MIEMBROS ASECEI</h1>
        </div>
    </section>
    
    <!-- Miembros Section -->
    <section class="miembros-section">
        <div class="miembros-grid">
            <div class="miembro">
                <a href="https://www.epn.edu.ec">
                    <img src="../../assets/images/miembros/epn.jpg" alt="EPN">
                </a>
                <p>EPN</p>
            </div>
            <div class="miembro">
                <a href="https://www.espe.edu.ec">
                    <img src="../../assets/images/miembros/espe.png" alt="ESPE">
                </a>
                <p>ESPE</p>
            </div>
            <div class="miembro">
                <a href="https://www.espoch.edu.ec">
                    <img src="../../assets/images/miembros/espoch.jpeg" alt="ESPOCH">
                </a>
                <p>ESPOCH</p>
            </div>
            <div class="miembro">
                <a href="https://www.espol.edu.ec">
                    <img src="../../assets/images/miembros/espol.png" alt="ESPOL">
                </a>
                <p>ESPOL</p>
            </div>
            <div class="miembro">
                <a href="https://www.puce.edu.ec">
                    <img src="../../assets/images/miembros/puce.png" alt="PUCE">
                </a>
                <p>PUCE</p>
            </div>
            <div class="miembro">
                <a href="https://www.uce.edu.ec">
                    <img src="../../assets/images/miembros/uce.png" alt="UCE">
                </a>
                <p>UCE</p>
            </div>
            <div class="miembro">
                <a href="https://www.ucuenca.edu.ec">
                    <img src="../../assets/images/miembros/ucuenca.png" alt="UCUENCA">
                </a>
                <p>UCUENCA</p>
            </div>
            <div class="miembro">
                <a href="https://www.uda.edu.ec">
                    <img src="../../assets/images/miembros/uda.jpeg" alt="UDA">
                </a>
                <p>UDA</p>
            </div>
            <div class="miembro">
                <a href="https://www.ueb.edu.ec">
                    <img src="../../assets/images/miembros/ueb.png" alt="UEB">
                </a>
                <p>UEB</p>
            </div>
            <div class="miembro">
                <a href="https://www.ug.edu.ec">
                    <img src="../../assets/images/miembros/ug.png" alt="UG">
                </a>
                <p>UG</p>
            </div>
            <div class="miembro">
                <a href="https://www.uleam.edu.ec">
                    <img src="../../assets/images/miembros/uleam.png" alt="ULEAM">
                </a>
                <p>ULEAM</p>
            </div>
            <div class="miembro">
                <a href="https://www.unach.edu.ec">
                    <img src="../../assets/images/miembros/unach.jpeg" alt="UNACH">
                </a>
                <p>UNACH</p>
            </div>
            <div class="miembro">
                <a href="https://www.unemi.edu.ec">
                    <img src="../../assets/images/miembros/unemi.jpg" alt="UNEMI">
                </a>
                <p>UNEMI</p>
            </div>
            <div class="miembro">
                <a href="https://www.unesum.edu.ec">
                    <img src="../../assets/images/miembros/unesum.jpg" alt="UNESUM">
                </a>
                <p>UNESUM</p>
            </div>
            <div class="miembro">
                <a href="https://www.uniandes.edu.ec">
                    <img src="../../assets/images/miembros/uniandes.jpeg" alt="UNIANDES">
                </a>
                <p>UNIANDES</p>
            </div>
            <div class="miembro">
                <a href="https://www.ups.edu.ec">
                    <img src="../../assets/images/miembros/ups.png" alt="UPS">
                </a>
                <p>UPS</p>
            </div>
            <div class="miembro">
                <a href="https://www.upse.edu.ec">
                    <img src="../../assets/images/miembros/upse.png" alt="UPSE">
                </a>
                <p>UPSE</p>
            </div>
            <div class="miembro">
                <a href="https://www.usgp.edu.ec">
                    <img src="../../assets/images/miembros/usgp.png" alt="USGP">
                </a>
                <p>USGP</p>
            </div>
            <div class="miembro">
                <a href="https://www.uta.edu.ec">
                    <img src="../../assets/images/miembros/uta.jpeg" alt="UTA">
                </a>
                <p>UTA</p>
            </div>
            <div class="miembro">
                <a href="https://www.utc.edu.ec">
                    <img src="../../assets/images/miembros/utc.png" alt="UTC">
                </a>
                <p>UTC</p>
            </div>
            <div class="miembro">
                <a href="https://www.ute.edu.ec">
                    <img src="../../assets/images/miembros/ute.png" alt="UTE">
                </a>
                <p>UTE</p>
            </div>
            <div class="miembro">
                <a href="https://www.utm.edu.ec">
                    <img src="../../assets/images/miembros/utm.png" alt="UTM">
                </a>
                <p>UTM</p>
            </div>
            <div class="miembro">
                <a href="https://www.utmach.edu.ec">
                    <img src="../../assets/images/miembros/utmach.jpeg" alt="UTMACH">
                </a>
                <p>UTMACH</p>
            </div>
            <div class="miembro">
                <a href="https://www.utn.edu.ec">
                    <img src="../../assets/images/miembros/utn.jpeg" alt="UTN">
                </a>
                <p>UTN</p>
            </div>
            <div class="miembro">
                <a href="https://www.utpl.edu.ec">
                    <img src="../../assets/images/miembros/utpl.png" alt="UTPL">
                </a>
                <p>UTPL</p>
            </div>
        </div>
    </section>
</body>
</html>
